.fa-dashboard:before,
.fa-home:before {
	content: "\f015" !important;
}

.fa-list-alt:before {
	content: "\f022" !important;
}

.fa-shopping-cart:before {
	content: "\f07a" !important;
}

.fa-edit:before, .fa-usd:before {
	content: "\f155" !important;
}

.fa-report:before {
	content: "\f200" !important;
}

.fa-user:before {
	content: "\f007" !important;
}

.fa-refresh:before {
	content: "\f021" !important;
}

.fa-user-secret:before {
	content: "\f21b" !important;
}

.invoice-company span:first-child {
	margin-left: 20px;
}

.invoice-company span {
	margin-left: 25px;
}

.invoice-company span input {
	width: 130px;
	height: 30px !important;
	margin-left: 7px;
}

.breadcrumbs {
	line-height: 25px !important;
	margin-top: 0 !important;
}

.breadcrumbs .pos-rel {
	margin: 0 0 0 22px;
}

.creatin {
	height: 30px !important;
	margin: 5px 0 5px 40px;
	vertical-align: middle;
}

.sr-only {
	overflow: inherit !important;
	position: inherit !important;
}

.page-selector {
	float: right;
	margin-right: 10px;
}

.page-selector span {
	margin-left: 7px;
}

.order-detail {
	list-style: none;
	padding-top: 7px;
}

.order-detail li {
	display: inline-block;
	margin-left: 108px;
}

.order-detail li:first-child {
	margin-left: 10px;
}

.order-detail li a {
	font-weight: 700;
}

.form-order-wrap {
	width: 900px;
	margin: 80px auto;
}

.backlist {
	display: block;
}

.syd-order {
	padding: 5px 0 0 30px;
}

.page-content {
	position: inherit !important;
}

.ace-settings-container {
	position: inherit !important;
	float: right;
}

.right-total {
	float: right;
}

.heading {
	background: #F5F5F5;
	min-height: 41px;
	padding: 1px 0 0 20px !important;
}

.form-action {
	margin-bottom: 0 !important;
}